# torch & cuda installation use my improvisation version -- the author provided code are outdated and somehow does not work!
# conda install pytorch torchvision torchaudio cudatoolkit pytorch-cuda=11.8 -c pytorch -c nvidia
# (Install VisualStudio2022 to enable MCVS cl command inside the anaconda powershell terminal)
jupyterlab
ipykernel
mediapy
gdown
numpy
PyYAML
imageio
imageio-ffmpeg
matplotlib
opencv-python
scikit-image
tqdm
h5py
progressbar
psutil
ninja


